.form-title {
  font-weight: 400;
  margin: 10px 0 32px 25px;
  font-size: 24px;
  line-height: 23px;
}

.form__container {
  max-width: 392px;
}

.form__imput-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  margin: 0 0 4px 14px;

  color: var(--black-500);
}

.form__input {
  background: var(--white);
  border: 1px solid var(--black-500);
  border-radius: 25px;
  height: 48px;
  outline: 0;
  padding: 10px 28px;
  width: 100%;
  margin-bottom: 12px;
}

.form__input-check {
  width: 18px;
  height: 18px;
}

.form__error {
  position: absolute;
  font-size: 12px;
  bottom: -5px;
  right: 15px;
  color: var(--red-500);
}
.form__submit {
  border-radius: 25px;
  height: 52px;
  width: 100%;
  max-width: 392px;
  border: 0;
  background: var(--blue-500);

  letter-spacing: 0.05em;
  color: var(--white);
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 34px;

  letter-spacing: 0.05em;
}
.form__submit:hover {
  filter: brightness(0.95);
}
.form__submit:active {
  filter: brightness(1);
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: var(--gray-400);
}

.terms-conditions {
  flex-direction: initial;
  align-items: center;
  justify-content: center;
  margin: 9px 0 21px;
}

.terms-conditions .form__label {
  margin: 0 20px 0 0;
  text-decoration: underline;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
}

.terms-conditions .form__label span {
  color: var(--blue-500);
  text-decoration: underline;
}

.terms-conditions .form__error {
  bottom: -15px;
  left: 50%;
  transform: translate(-27%, 0);
}
@media only screen and (min-width: 993px) {
  .form-content {
    margin-left: 66px;
  }
}
@media only screen and (max-width: 992px) {
  .form-content {
    margin: 0 auto;
    max-width: 392px;
  }
}
@media only screen and (max-width: 768px) {
  .form-title {
    font-size: 18px;
    line-height: 18px;
    margin: 22px 0 32px;
    text-align: center;
  }
  .form-content {
    max-width: 312px;
  }
}
