.menu-institucional__content {
  width: 270px;
  position: relative;
}
.menu-institucional__content ul {
  border-right: solid 1px var(--gray-150);
}

.menu-institucional__content li:hover {
  background: var(--gray-100);
}

.menu-institucional__section button {
  border: 0;
  outline: 0;
  height: 39px;
  background: transparent;
  width: 100%;
  text-align: left;
  padding: 10px 16px;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: var(--gray-500);
}
.menu-institucional__section.active button {
  background: var(--blue-500);
  color: var(--white);
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .menu-institucional__content {
    margin: 0;
    width: 100%;
  }
  .menu-institucional__content ul {
    border: none;
  }
}
