.header-bottom {
  width: 100%;
  position: relative;
}

.header-bottom__menu-principal {
  display: flex;
  margin-left: 69px;
}

.header-bottom__menu-principal-item {
  color: var(--white);
  display: block;
  margin: 14px 126px 14px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.header-bottom__menu-principal-item:hover {
  text-decoration: underline;
  font-weight: 700;
}

.header-bottom__menu-principal-item::after {
  content: attr(title);
  display: block;
  height: 0;
  overflow: hidden;
  font-weight: 700;
  visibility: hidden;
}

@media only screen and (max-width: 992px) {
  .header-bottom__menu-principal {
    margin-left: 0;
  }
}
@media only screen and (min-width: 769px) {
  .header-bottom__closeIcon {
    display: none;
  }
  .header-bottom__login {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .header-bottom {
    display: block;
    position: fixed;
    width: 80%;
    top: 0;
    bottom: 0;
    left: 0;
    background: var(--white);
    z-index: 10;

    transition: 0.5s transform cubic-bezier(0.5, 0, 0, 1);
    transform: translateX(-100%);
  }

  .header-bottom__menu {
    opacity: 0;
    pointer-events: none;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.5s;
    z-index: 5;

    background-color: rgba(0, 0, 0, 0.8);
  }
  .overflowOpen {
    opacity: 1;
    pointer-events: all;
  }
  .menuOpen {
    transform: translateX(0);
  }

  .header-bottom__login {
    display: block;
    margin: 16px 0 0 16px;
    text-decoration: underline;
    width: fit-content;
  }

  .header-bottom__closeIcon {
    background: transparent;
    border: 0;
    padding: 0;
    position: absolute;
    right: 16px;
    top: 16px;
  }
  .header-bottom__menu-principal {
    display: block;
    margin: 50px 0;
  }
  .header-bottom__menu-principal-li {
    border-top: 1px solid var(--gray-150);
  }
  .header-bottom__menu-principal-li:last-child {
    border-bottom: 1px solid var(--gray-150);
  }
  .header-bottom__menu-principal-item {
    color: var(--blue-500);
    font-size: 18px;
    padding: 14px 14px 14px 12px;
    margin: 0;
  }
}
