.institucional-content {
  padding-left: 32px;
  width: 100%;
  margin-bottom: 171px;
}
.institucional-content.contact {
  margin-bottom: 117px;
}
.institucional-content__title {
  font-size: 24px;
  line-height: 28px;
  color: var(--gray-800);
  margin-bottom: 12px;
  font-weight: 700;
}

.institucional-content p {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  color: var(--gray-500);
}

.institucional-content p:not(:last-child) {
  margin-bottom: 22px;
}
@media only screen and (max-width: 768px) {
  .institucional-content__title {
    text-align: center;
    margin: 39px 0 16px 0;
  }
  .institucional-content p {
    text-align: justify;
    font-size: 12px;
  }
  .institucional-content {
    padding: 0;
    margin-bottom: 149px;
  }
  .institucional-content.contact {
    margin-bottom: 31px;
  }
}
