.newsletter::before {
  content: "";
  width: 100vw;
  background: var(--gray-250);
  height: 1px;
  position: absolute;
  top: 0px;
  right: 0;
}
.newsletter {
  display: flex;
  justify-content: center;
  position: relative;
}

.newsletter__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 475px;
  margin: 16px;
}

.newsletter__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  font-variant: small-caps;
}
.newsletter__container-input {
  display: flex;
  position: relative;
}
.newsletter__input {
  height: 42px;
  width: 100%;
  outline: 0;
  border: 1px solid var(--gray-150);
  padding: 13px 16px;
}
.newsletter__input::placeholder {
  font-size: 14px;
  line-height: 16px;
  color: var(--gray-300);
}
.newsletter__submit {
  width: 126px;
  height: 42px;
  background: var(--blue-500);
  border: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: var(--white);
}
.newsletter__submit:hover {
  filter: brightness(0.95);
}
.newsletter__submit:active {
  filter: brightness(1);
}
.form__error {
  position: absolute;
  font-size: 12px;
  bottom: -15px;
  color: var(--red-500);
}

@media only screen and (min-width: 769px) {
  .newsletter__container-input {
    margin-top: 5px;
  }
  .newsletter__input {
    max-width: 342px;
    border-radius: 4px;
  }
  .newsletter__submit {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 4px;
    margin-left: 7px;
  }
}

@media only screen and (max-width: 768px) {
  .newsletter__form {
    margin: 21px 25px 32px;
  }
  .newsletter__container-input {
    flex-direction: column;
  }
  .newsletter__title {
    line-height: 16px;
  }
  .newsletter__input {
    height: 50px;
    border: 1px solid var(--gray-300);
    padding: 17px 16px;
    margin-top: 12px;
  }
  .newsletter__submit {
    width: 100%;
    height: 50px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    margin-top: 16px;
  }
  .form__error {
    left: 50%;
    transform: translate(-50%, 0);
  }
}
