@font-face {
  font-family: "Helvetica Neue LT Std";
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
  src: url("../../fonts/HelveticaNeueLTStd-Lt.otf");
}
@font-face {
  font-family: "Proxima Nova";
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
  src: url("../../fonts/proxima-nova-regular.otf");
}
@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-style: bold;
  font-display: fallback;
  src: url("../../fonts/proxima-nova-bold.otf");
}
