body {
  background: var(--white);
  color: var(--gray-900);
}

body,
input,
textarea,
select,
button {
  font: 400 16px "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}
