.container-institucional__breadcrumb {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-top: 29px;
  gap: 8px;
}
.container-institucional__breadcrumb img {
  display: block;
}

.container-institucional__breadcrumb-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--gray-300);
}

.container-institucional__title {
  text-align: center;
  margin: 79px 0 41px 0;
  /* margin: 79px 0 41px 53px; */
  font-family: "Helvetica Neue LT Std", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 300;
  color: var(--gray-800);
}

.container-institucional {
  max-width: 1049px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.container-institucional__content {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-content: center;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .container-institucional__breadcrumb {
    margin-top: 14px;
  }
  .container-institucional__content {
    grid-template-columns: 1fr;
  }
  .container-institucional__title {
    margin: 32px 0 23px;
  }
}
