.links-container {
  margin: 25px 0 51px;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: center;
  position: relative;
}
.links-container::before {
  content: "";
  width: 100vw;
  background: var(--gray-250);
  height: 1px;
  position: absolute;
  top: -25px;
  right: 0;
}
.links-container__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 12px;
}
.links-container__item {
  font-size: 12px;
  line-height: 14px;
  /* margin-bottom: 12px; */
}
.links-container__item:not(:last-child) {
  margin-bottom: 12px;
}
.links-container__item strong {
  font-weight: 500;
}
.links-container__social-links {
  display: flex;
  gap: 10px;
}
.links-container__social-item {
  height: 36px;
  margin-bottom: 10px;
}
.links-container__link {
  color: var(--gray-900);
}
.links-container__institucional .links-container__item:last-child a {
  text-decoration: underline;
}
/* .links-container__institucional {
  margin-right: 60px;
}
.links-container__duvidas {
  margin-right: 70px;
}
.links-container__fale-conosco {
  margin-right: 133px;
} */
.links-container__link-site {
  font-size: 14px;
  line-height: 16px;
}

@media only screen and (min-width: 993px) {
  .links-container__institucional {
    margin-right: 60px;
  }
  .links-container__duvidas {
    margin-right: 70px;
  }
  .links-container__fale-conosco {
    margin-right: 133px;
  }
}
@media only screen and (max-width: 992px) {
  .links-container {
    /* justify-content: space-around; */
    justify-content: space-between;
    padding: 0px 16px;
  }
}
@media only screen and (min-width: 769px) {
  .links-container__title {
    text-transform: uppercase;
  }
}
@media only screen and (max-width: 768px) {
  .links-container {
    grid-template-columns: 100%;
    margin: 12px 0 32px;
    padding: 0 25px;
  }
  .accordion-item {
    display: none;
  }
  .links-container::before {
    top: -12px;
  }
  .links-container__title {
    margin: 12px 0;
  }
  .links-container__social-links {
    margin-top: 12px;
  }
  .links-container__social-item {
    margin-bottom: 0;
  }
  .links-container__fale-conosco,
  .links-container__duvidas,
  .links-container__institucional {
    margin: 0;
    height: 40px;
    transition: height 0.2s;
    position: relative;
  }

  .links-container__fale-conosco::before,
  .links-container__duvidas::before,
  .links-container__institucional::before {
    content: "+";
    position: absolute;
    right: 0;
    top: 10px;
    pointer-events: none;
  }

  .links-container__fale-conosco.oppened .accordion-item,
  .links-container__duvidas.oppened .accordion-item,
  .links-container__institucional.oppened .accordion-item {
    display: block;
  }
  .links-container__fale-conosco.oppened,
  .links-container__duvidas.oppened,
  .links-container__institucional.oppened {
    height: 132px;
  }

  .links-container__fale-conosco.oppened::before,
  .links-container__duvidas.oppened::before,
  .links-container__institucional.oppened::before {
    content: "-";
  }
  .links-container__duvidas {
    margin: 0;
  }
  .links-container__fale-conosco {
    margin: 0;
  }
  .links-container__link-site {
    display: none;
  }
}
