.header {
  display: flex;
  flex-direction: column;
  background: var(--blue-500);
  /* padding: 0 40px 0 109px; */
  padding: 0 40px 0 40px;
}

.header::before {
  content: "";
  width: 100vw;
  background: var(--gray-300);
  height: 1px;
  position: absolute;
  top: 76px;
  right: 0;
}

.header-top__menu-button {
  display: none;
}

.header-top__logo {
  margin-top: 18px;
  width: max-content;
  margin-left: 69px;
}
.header-top__logo img {
  display: block;
}
.header-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.header-top {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.header-top__searchBar {
  margin: 26px 0 18px;
  justify-self: center;
  width: 100%;
  max-width: 264px;
  position: relative;
}

.header-top__search-input {
  width: 100%;
  height: 32px;
  border-radius: 5px;
  border: solid 2px var(--gray-100);
  outline: 0;
  padding: 8px 12px;
}

.header-top__search-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--gray-300);
}

.header-top__search-button {
  width: 18px;
  height: 18px;
  padding: 0;
  outline: 0;
  border: 0;
  background-color: transparent;

  position: absolute;
  top: 7px;
  right: 11px;
}

.header-top__account {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  height: max-content;
  margin-top: 28px;
}

.header-top__account a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--white);
}

.header-top__account button {
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  margin-left: 40px;
  width: 28px;
  height: 28px;
}

@media only screen and (max-width: 992px) {
  .header {
    padding: 0 16px;
  }
  .header-top__logo {
    margin-left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    padding: 0 16px;
  }
  .header::before {
    display: none;
  }
  .header-top__menu-button {
    display: block;
    width: 28px;
    height: 23px;
    background: transparent;
    border: 0;
    outline: 0;
  }
  .header-top__menu-button {
    grid-area: menu;
  }
  .header-top__logo {
    margin-top: 0;
    grid-area: logo;
    justify-self: center;
  }
  .header-top {
    grid-template-areas:
      "menu logo minicart"
      "search search search";

    margin-top: 29px;
    align-items: center;
    grid-template-rows: max-content max-content;
  }
  .header-top__searchBar {
    grid-area: search;
    max-width: 100%;
    margin: 30px 0 16px;
  }
  .header-top__search-input {
    height: 36px;
    padding: 10px 16px;
  }
  .header-top__search-button {
    top: 9px;
    right: 16px;
  }
  .header-top__account {
    grid-area: minicart;
    margin-top: 0;
  }
  .header-top__account a {
    display: none;
  }
  .header-top__account button {
    margin-left: 0;
    width: 24px;
    height: 24px;
  }
  .header-top__account button img {
    width: 24px;
    height: 24px;
  }
}
