.whatsapp-button {
  position: fixed;
  bottom: 100px;
  right: 14px;
  z-index: 15;
}
.up-button {
  position: fixed;
  right: 14px;
  z-index: 15;
  bottom: 50px;
  background: transparent;
  border: 0;
}

.footer-infos {
  background: var(--gray-700);
}
.footer-infos__text,
.footer-infos__powered-by,
.footer-infos__developed-by {
  color: var(--white);
  font-size: 10px;
  line-height: 12px;
}
.footer-infos__container {
  display: flex;
  max-width: 1248px;
  justify-content: space-between;
  padding: 15px 16px 17px 16px;

  margin: 0 auto;
}

.footer-infos__list {
  display: flex;
  align-items: center;
}

.footer-infos__payment {
  align-items: center;
  gap: 13px;
  display: flex;
  flex-wrap: wrap;
}
.footer-infos__payment img {
  display: block;
}

.footer-infos__divider {
  width: 1px;
  height: 24px;
  background: var(--white);
  margin: 0 10px;
}
.footer-infos__security {
  display: flex;
  align-items: center;
}
.footer-infos__security img {
  display: block;
}

.footer-infos__development {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-infos__development img:nth-child(2) {
  margin-right: 8px;
}

@media only screen and (max-width: 992px) {
  .footer-infos__payment {
    gap: 10px;
  }
  .footer-infos__payment img {
    width: 30.27px;
    height: 16.97px;
  }
  .footer-infos__divider img {
    height: 20px;
  }
  .footer-infos__security img {
    width: 45px;
    height: 28px;
  }
}

@media only screen and (min-width: 769px) {
  .text-mobile {
    display: none;
  }
  .footer-infos__container {
    align-items: center;
  }
  .footer-infos__list {
    margin: 0 16px;
  }
}
@media only screen and (max-width: 768px) {
  .text-desktop {
    display: none;
  }
  .text-mobile {
    margin: 12px 0 24px;
  }
  .footer-infos__container {
    flex-direction: column;
    max-width: 375px;
    padding: 16px;
  }
}
